* {
  box-sizing: border-box; }

body {
  background-color: #ebe7df;
  color: #7d7d7d;
  margin: 0;
  text-align: center;
  font-family: "Aller", Helvetica, Arial, sans-serif; }

.container {
  width: 80%;
  max-width: 960px;
  padding: 0; }

.row {
  margin: 0; }

/*
Flaticon icon font: Flaticon
Creation date: 10/03/2019 23:59
*/
@font-face {
  font-family: "Flaticon";
  src: url("./../fonts/Flaticon.eot");
  src: url("./../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("./../fonts/Flaticon.woff2") format("woff2"), url("./../fonts/Flaticon.woff") format("woff"), url("./../fonts/Flaticon.ttf") format("truetype"), url("./../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./../fonts/Flaticon.svg#Flaticon") format("svg"); } }
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 1em;
  font-style: normal; }

.flaticon-search:before {
  content: "\f100"; }

.flaticon-buy:before {
  content: "\f101"; }

.flaticon-star:before {
  content: "\f102";
  font-weight: bold; }

.flaticon-eye:before {
  content: "\f103";
  font-weight: bold; }

.flaticon-export:before {
  content: "\f104"; }

.flaticon-social:before {
  content: "\f105"; }

.flaticon-twitter:before {
  content: "\f106"; }

.flaticon-google-plus:before {
  content: "\f107"; }

.flaticon-linkedin:before {
  content: "\f108"; }

.flaticon-flickr:before {
  content: "\f109"; }

@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: normal;
  src: local("Aller"), url("./../fonts/Aller_Rg.woff") format("woff"); }
@font-face {
  font-family: 'Aller Light';
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/Aller-Light.ttf.woff") format("woff"); }
@font-face {
  font-family: 'gothic';
  src: url("./../fonts/gothic.eot");
  src: local("gothic"), url("./../fonts/gothic.woff"); }
h4 {
  font-family: "Aller Light", Helvetica, Arial, sans-serif;
  font-size: 1.58rem;
  color: #242424; }

h5 {
  font-size: 19px;
  font-weight: 500;
  padding: 1.1rem;
  padding-bottom: 0;
  margin-bottom: 0; }

p {
  font-size: 12px; }

.button {
  padding: 1rem 2rem;
  border-left: 1px solid #ebe7df; }
  .button:last-of-type {
    border-right: 1px solid #ebe7df; }

.show {
  border: 1px solid #bcb5a7;
  color: #bcb5a7;
  font-size: 0.875rem;
  padding: 3px 21px;
  height: 1.9rem; }
  .show:hover {
    color: #242424;
    border-color: #242424;
    text-decoration: none; }

.price-tag {
  background-color: #57c5a0;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  width: 60px;
  height: 60px;
  text-align: center;
  transform: translateY(-50%);
  line-height: 60px;
  font-family: 'Aller', Helvetica, Arial, sans-serif; }

.tag-sale {
  background-color: #242424;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: 'Aller', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 1rem; }

.tag-out {
  background-color: #f27e4b;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-family: 'Aller', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 1rem;
  line-height: 1rem;
  padding-top: 0.8125rem; }

.tag-date {
  background-color: #57c5a0;
  color: #fff;
  font-size: 0.625rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-right: 0.625rem; }
  .tag-date span {
    font-size: 0.8125rem;
    line-height: 0.625rem; }

.nav-icons a {
  color: #6e6e6e; }
  .nav-icons a:hover {
    color: #57c5a0; }
.nav-icons .nav-item {
  background-color: #fff;
  margin: 1px; }

.flickr-grid {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  /* 3 columns */
  grid-template-rows: repeat(2, 40px);
  /* 2 rows  */
  grid-gap: 34px 38px;
  /* 50 pixels of space added between rows and 30 pixels added between columns  */ }
  .flickr-grid img {
    width: 60px; }

.show {
  height: 100%; }

.header-top {
  background-color: #242424;
  font-size: 0.75rem;
  padding: 1px; }
  .header-top .row {
    margin: 0.125rem 0; }

.search-form {
  display: flex;
  align-items: center;
  border-left: 1px solid #7d7d7d;
  height: 41px;
  padding: 0 1.4rem; }
  .search-form button {
    border: none;
    cursor: pointer;
    background-color: transparent; }
  .search-form input {
    background-color: inherit;
    border: none;
    width: 6.2rem; }

.btn-login {
  display: flex;
  border-left: 1px solid #7d7d7d;
  border-right: 1px solid #7d7d7d;
  height: 41px;
  align-items: center;
  padding: 0 .875rem; }

#logo {
  color: #57c5a0;
  font-family: 'gothic', Helvetica, Arial, sans-serif;
  font-size: 1.6875rem; }

.header-bottom {
  background-color: #fff; }
  .header-bottom .navbar {
    padding: 0; }

#navbarNav .nav-link {
  padding: 1rem;
  color: #242424; }
#navbarNav .nav-item {
  border-left: 1px solid #ebe7df; }
  #navbarNav .nav-item:last-of-type {
    border-right: 1px solid #ebe7df; }

.badge {
  background-color: #adadad;
  color: #fff;
  font-size: 0.65rem;
  width: 1.7em;
  height: auto;
  padding: 0.4rem 0; }

.flaticon-buy + span {
  background-color: #57c5a0; }

.carousel-indicators {
  background-color: #2e2e2e;
  margin: 0;
  position: relative;
  display: block; }
  .carousel-indicators li {
    text-indent: 0;
    width: 11rem;
    margin-bottom: 4rem;
    padding: 1px;
    display: inline-block; }
  .carousel-indicators h5 {
    color: #fff; }
  .carousel-indicators .active {
    background-color: #57c5a0; }

.bar {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  width: 42%;
  height: 12px;
  background-color: #000;
  z-index: -1;
  display: flex;
  margin: auto; }
  .bar div {
    flex-grow: 1;
    border-right: 2px solid #2e2e2e; }
    .bar div:last-child {
      border-right: none; }

.carousel-caption {
  color: #242424;
  top: 42%;
  transform: translateY(-50%);
  left: 50%;
  text-align: left;
  font-family: 'Aller Light', Helvetica, Arial, sans-serif; }
  .carousel-caption p {
    font-size: 1.2rem; }

.carousel {
  position: relative; }

.cards-nav {
  color: #fff;
  font-family: "Aller Light", Helvetica, Arial, sans-serif;
  font-size: 1.58rem;
  background-color: #242424; }
  .cards-nav .container {
    display: flex;
    flex-grow: 1; }
  .cards-nav .card-item {
    margin: 24px 9px;
    position: relative; }
  .cards-nav .card-caption {
    white-space: nowrap;
    padding: 12px 23px;
    background-color: rgba(36, 36, 36, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.product .row {
  padding: 30px 0 0; }

.card {
  margin: 0 8px; }
  .card .price-tag {
    position: absolute;
    transform: translateY(0);
    bottom: 0;
    left: 1rem; }

.card-body {
  border-top: 2px solid #ebe7df;
  padding: 0.7rem;
  font-size: 1.125rem; }
  .card-body ul {
    display: none; }
  .card-body .nav-link {
    padding: 0.4rem 1rem; }
  .card-body:hover {
    padding: 0.18rem; }
    .card-body:hover span {
      display: none; }
    .card-body:hover ul {
      display: flex;
      justify-content: flex-end !important; }

.blog-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1; }

.blog {
  background-color: #dfdbd4;
  max-width: 25%;
  margin: 0 8px;
  padding: 1.8125rem 0.8125rem;
  text-align: left;
  color: #242424; }
  .blog:last-of-type {
    max-width: 50%;
    flex-grow: 2; }
  .blog h6 {
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0; }
  .blog p {
    margin: 0; }
  .blog .row {
    padding: 17px 0 0; }

footer {
  background-color: #242424;
  position: relative; }

.widget > div {
  flex: 1;
  text-align: justify;
  margin: 3rem 2rem; }
.widget h6 {
  margin-bottom: 0.9rem; }

.copyright {
  background-color: #2e2e2e;
  position: absolute;
  bottom: 0;
  display: flex; }

/*# sourceMappingURL=application.css.map */
