.carousel-indicators {
    background-color: $color-sec;
    margin: 0;
    position: relative;
    display: block;
    li {
        text-indent: 0;
        width: 11rem;
        margin-bottom: 4rem;
        padding: 1px;
        display: inline-block;
    }
    h5 {
        color: $white;
    }
    .active {
        background-color: $color-highlight;
    }
    @media #{$brk-narrow} {
        display: none;
    }
}

.bar {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    height: 12px;
    background-color: $black;
    z-index: -1;
    display: flex;
    margin: auto;
    div {
        flex-grow: 1;
        border-right: 2px solid $color-sec;
        &:last-child {
            border-right: none;
        }
    }
}

.carousel-caption {
    color: $color-prim;
    top: 42%;
    transform: translateY(-50%);
    left: 50%;
    text-align: left;
    font-family: $font-sec;
    p {
        font-size: 1.2rem;
    }
    @media #{$brk-mid} {
        top: 30%;
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }
        p {
            font-size: 0.7rem;
            margin-bottom: 0.25rem;
        }
        .price-tag {
            transform: none;
            margin-bottom: 0.375rem;
        }
        .nav-item {
            font-size: 0.625rem;
        }
    }
}

.carousel {
    position: relative;
}