.carousel-indicators {
    background-color: $color-sec;
    margin: 0;
    position: relative;
    display: block;
    li {
        text-indent: 0;
        width: 11rem;
        margin-bottom: 4rem;
        padding: 1px;
        display: inline-block;
    }
    h5 {
        color: $white;
    }
    .active {
        background-color: $color-highlight;
    }
}

.bar {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    width: 42%;
    height: 12px;
    background-color: $black;
    z-index: -1;
    display: flex;
    margin: auto;
    div {
        flex-grow: 1;
        border-right: 2px solid $color-sec;
        &:last-child {
            border-right: none;
        }
    }
}

.carousel-caption {
    color: $color-prim;
    top: 42%;
    transform: translateY(-50%);
    left: 50%;
    text-align: left;
    font-family: 'Aller Light', Helvetica, Arial, sans-serif;
    p {
        font-size: 1.2rem;
    }
}

.carousel {
    position: relative;
}