.bd-example {               //  <-- Carousel Parent
    background-color: $color-carousel;
    position: relative;
    .indicator-bg {         //  <-- Side background color for indicators
        background-color: $color-sec;
        bottom: 0;
        height: 89px;
        position: absolute;
        width: 100%;
        @media #{$brk-narrow} {
            display: none;
        }
    }
}

// Align img and .carousel-caption and slide smoothly
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    @media #{$brk-mid} {
        display: block;
        position: relative;
    }
    @media #{$brk-narrow} {
        img {
            width: 100%;
        }
    }
}

.carousel-caption {
    color: $color-prim;
    font-family: $font-sec;
    position: static;
    text-align: left;
    p {
        font-size: 1.2rem;
    }
    .price-tag {
        margin: 2rem 0 1rem;
    }

    @media #{$brk-mid} {
        bottom: 15%;
        left: 45%;
        position: absolute;
        width: 50%;
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
            margin-bottom: 0.25rem;
        }
        .price-tag {
            margin-bottom: 0.375rem;
        }
    }

    @media #{$brk-narrow} {
        bottom: 8%;
        left: 5%;
        margin: 0;
        padding: 0;
        width: 90%;
        h1 {
            font-size: 1.5rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
}

.carousel-indicators {
    background-color: $color-sec;
    display: block;
    margin: 0;
    position: relative;
    li {
        display: inline-block;
        margin-bottom: 4rem;
        padding: 1px;
        text-indent: 0;
        width: 11rem;
    }
    h5 {
        color: $white;
    }
    .active {
        background-color: $color-highlight;
    }
    @media #{$brk-narrow} {
        display: none;
    }
}

.bar {
    background-color: $black;
    display: flex;
    height: 12px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 7px;
    z-index: -1;
    div {
        border-right: 2px solid $color-sec;
        flex-grow: 1;
        &:last-child {
            border-right: none;
        }
    }
}



.carousel {
    position: relative;
}