.cards-nav {
    color: $white;
    font-family: $font-sec;
    font-size: 1.58rem;
    background-color: $color-prim;
    .container {
        display: flex;
        flex-wrap: nowrap;
        @media #{$brk-narrow} {
            flex-direction: column;
        }
    }
    .card-item {
        margin: 24px 9px;
        position: relative;
        flex: 1;
    }
    .card-caption {
        white-space: nowrap;
        padding: 12px 23px;
        background-color: $color-prim-alpha;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a {
            color: inherit;
        }
        @media #{$brk-mid} {
            padding: 12px 16px;
            font-size: 1.2rem;
        }
    }
}

