.header-top {
    background-color: $color-prim;
    font-size: 0.75rem;
    padding: 1px;
    .row {
        margin: 0.125rem 0;
    }
}

.btn-login {
    align-items: center;
    border-left: 1px solid $color-text-prim;
    border-right: 1px solid $color-text-prim;
    display: flex;
    height: 41px;
    padding: 0 .875rem;
}

#logo {
    color: $color-highlight;
    font-family: $font-logo;
    font-size: 1.375rem;
    margin: auto 0;
    @media (min-width: 360px) {
        font-size: 1.6875rem;
        margin: 0;
    }
}

.header-bottom {
    background-color: $white;
    .navbar {
        padding: 0;
    }
    .row > * {
        flex: 1;
        @media #{$brk-lg} {
            flex: 0;
        }
    }
}

#navbarNav {
    .nav-link {
        padding: 1rem;
        color: $color-prim;
    }
    .nav-item {
        border-left: 1px solid $color-background;
        &:last-of-type {
            border-right: 1px solid $color-background;
        }
    }
}

.navbar {
    border-left: 1px solid $color-background;
    justify-content: center;
    margin-right: auto;
    @media #{$brk-narrow} {
        border-left: none;
        justify-content: flex-start;
    }
}

.badge {
    background-color: $color-span;
    bottom: 2px;
    color: $white;
    font-size: 0.65rem;
    height: auto;
    margin-left: 4px;
    min-width: 23px;
    padding: 0.4rem 0;
    position: relative;
    width: 1.7em;
}