.header-top {
    background-color: $color-prim;
}

.search-form {
    button {
        // position: absolute;
        height: 100%;
        // right: 18px;
        // top: 0;
        font-size: 26px;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}

#logo {
    color: $color-highlight;
}