.cat {
    background-color: $color-sec;
    h4 {
        color: $white;
        font-size: 1.4rem;
        margin: 2rem 0;
    }
    .cont {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        &> * {
            flex: 1;
        }
        @media #{$brk-narrow} {
            flex-direction: column;
        }
    }
}