.banner {   
    display: flex;
    height: 16.25rem;
    overflow: hidden;
    position: relative;
    .cont {
        position: absolute;
    }
    img {
        position: absolute;
        left: -50%;
        @media #{$brk-narrow} {
            left: auto;
        }
    }
}

.banner-caption {
    align-items: center;
    color: $color-prim;
    font-family: $font-sec;
    margin-top: 2rem;
    margin-left: auto;
    text-align: left;
    width: 18.75rem;
    p {
        font-size: 1.2rem;
    }
    h1 {
        flex: 3;
        font-size: 1.9rem;
    }
    .row {
        align-items: center
    }
    .price-tag {
        margin-right: 1.375rem;
        transform: none;
    }
    @media (min-width: 400px) {
        width: 23.75rem;
        h1 {
            font-size: 2.5rem;
        }
    }
}