.product {
    .row {
        padding: 30px 0 0;
    }
}

.card {
    margin: 0 8px;
    .price-tag {
        position: absolute;
        transform: translateY(0);
        bottom: 0;
        left: 1rem;
    }
}

.card-body {
    border-top: 2px solid $color-background;
    padding: 0.7rem;
    font-size: 1.125rem;
    ul {
        display: none;
    }
    .nav-link {
        padding: 0.4rem 1rem;
    }
    &:hover {
        padding: 0.18rem;
        span {
            display: none;
        }
        ul {
            display: flex;
            justify-content: flex-end!important;
        }
    }
}

.blog-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 1rem 0 2rem;
}

.blog {
    background-color: $color-blog;
    max-width: 25%;
    margin: 0 8px;
    padding: 1.8125rem 0.8125rem;
    text-align: left;
    color: $color-prim;
    &:last-of-type {
        max-width: 50%;
        flex-grow: 2;
    }
    h6 {
        font-size: 0.875rem;
        font-weight: bold;
        margin: 0;
    }
    p {
        margin: 0;
    }
    .row {
        padding: 17px 0 0;
    }
}

hr {
    margin: 4rem 0.5rem 2rem;
}