// Wishlist and Cart ========================================================================

.button {
    border-left: 1px solid $color-background;
    cursor: pointer;
    padding: 1rem 2rem;
    &:last-of-type {
        border-right: 1px solid $color-background;
    }
    @media #{$brk-mid} {
        flex: 1;
        padding: 1rem 1rem;
    }
}

.button:hover {
    span {
        background-color: $color-highlight;
    }   
}

// Show All Button ========================================================================

.show-all {
    border: 1px solid $color-btn-show;
    color: $color-btn-show;
    font-size: 0.875rem;
    height: 1.9rem;
    padding: 3px 21px;
    &:hover {
        color: $color-prim;
        border-color: $color-prim;
        text-decoration: none;
    }
}

// Dropdown Button (Categories) ===========================================================

.cat .dropdown {
    @media #{$brk-narrow} {
        margin-bottom: 2rem;
    }
}

.btn-cat {
    background-color: $color-prim;
    border: none;
    color: $white;
    min-width: 11.8rem;
    padding: 1rem 3.75rem;
    position: relative;
    i {
        position: absolute;
        right: 10%;
        top: 29%;
    }
    & + .dropdown-menu {
        background-color: $color-prim;
        border: 1px solid $color-sec;
    }
}

.dropdown-item {
    color: $white;
    &:hover {
        background-color: inherit;
        color: $color-highlight;
    }
}

// View Buttons ===========================================================

.view-nav {
    .show-all {
        background-color: transparent;
        color: inherit;
    }
    a {
        padding: 3px 6px;
    }
    .dropdown-item {
        color: $color-btn-show;
        &:hover {
            background-color: inherit;
            color: $black;
        }
    }
}

.dropdown .show-all {
    min-width: 180px;
}

// View Buttons ===========================================================

.btn-view {
    border-color: $color-prim;
    color: $color-prim;
    text-decoration: none;
}

// Navbar collapsed ===========================================================

.navbar-toggler {
    border: none;
}

// Search for narrow screens ===========================================================

.search-narrow {
    align-items: center;
    border-left: 1px solid $color-background;
    display: none;
    justify-content: center;
    @media #{$brk-narrow} {
        display: flex;
    }
}