.flickr-grid {
    display: grid;
    grid-template-columns: repeat(3,60px);  /* 3 columns */
    grid-template-rows: repeat(2,60px); /* 2 rows  */
    grid-gap: 12px 12px; /* 12 pixels of space added between rows and 12 pixels added between columns  */
    img {
        cursor: pointer;
        width: 60px;
    }
}