.list {
    align-items: center;
    background-color: $white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    margin: 0 auto 1.5rem;
    width: 90%;
    .card {
        border: none;
    }
    .card-body + div {
        display: none;
    }
    .card-body:hover ul {
        justify-content: center!important;
    }
    .list-caption {
        display: block;
        margin-left: 3rem;
        padding-top: 3rem;
        text-align: left;
        width: 50%;
    }
}


.list-caption {
    display: none;
}