.login-form, .register-form {
    .modal-body {
        text-align: left;
    }
    .modal-footer {
        justify-content: center;
    }
}

.modal-header, .modal-body, .modal-footer {
    background-color: $color-prim;
    color: $color-text-prim;
    input {
        background-color: $color-sec;
        border: none;
    }
}

.modal-header {
    border-bottom: 1px solid $color-sec;
    .close {
        color: $color-text-prim;
        text-shadow: none;
    }
}

.modal-footer {
    border-top: 1px solid $color-sec;
    span {
        color: $color-background;
        cursor: pointer;
        &:hover {
            color: $color-highlight;
        }
    }
}

.btn-outline-primary {
    border-color: $color-highlight;
    color: $color-highlight;
    &:hover {
        background-color: $color-highlight;
        color: $color-prim;
    }
}