.nav-icons {
    a {
        color: $color-icons;
        &:hover {
            color: $color-highlight;
        }
    }
    .nav-item {
        background-color: $color-white-alpha;
        margin: 1px;
    }
}

#navbarToggleExternalContent {
    @media #{$brk-narrow} {
        display: none;
    }
}