.price-tag {
    background-color: $color-highlight;
    color: $white;
    display: inline-block;
    font-size: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    transform: translateY(-50%);
    line-height: 60px;
    font-family: 'Aller', Helvetica, Arial, sans-serif;
}