.search-form {
  align-items: center;
  border-left: 1px solid $color-text-prim;
  display: flex;
  height: 41px;
  padding: 0 1.4rem;
  position: relative;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  input {
      background-color: inherit;
      border: none;
      width: 6.2rem;
      &:focus {
        outline: none;
      }
  }
  @media #{$brk-narrow} {
    display: none;
  }
}

.modal-body .search-form {
  border: none;
  display: block;
  input {
    width: 50%;
  }
}

.autocomplete-items {
  border: 1px solid $color-text-prim;
  border-bottom: none;
  border-top: none;
  position: absolute;
  z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    left: 0;
    right: 0;
    top: 100%;
  }
  .autocomplete-items div {
    background-color: $color-sec; 
    border-bottom: 1px solid $color-text-prim;
    cursor: pointer;
    padding: 10px;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: $color-background; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: $color-background !important; 
    color: $color-text-prim; 
  }