.price-tag {
    background-color: $color-highlight;
    color: $white;
    display: inline-block;
    font-size: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: 'Aller', Helvetica, Arial, sans-serif;
}

.tag-sale {
    background-color: $color-prim;
    color: $white;
    display: inline-block;
    font-size: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-family: 'Aller', Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 1rem;
}

.tag-out {
    background-color: $color-comp;
    color: $white;
    display: inline-block;
    font-size: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-family: 'Aller', Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 1rem;
    line-height: 1rem;
    padding-top: 0.8125rem;
}

.tag-date {
    background-color: $color-highlight;
    color: $white;
    font-size: 0.625rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
    span {
        font-size: 0.8125rem;
        line-height: 0.625rem;
    }
}