// Base Styles =============================================================================

* {
    box-sizing: border-box;
  }
  
body {
  background-color: $color-background;
  color: $color-text-prim;
  font-family: $font-prim;
  margin: 0;
  text-align: center;
}

.cont {
  padding: 0 5px;
  margin: auto;
  width: 90%;
  @media #{$brk-narrow} {
    width: 750px;
  }
  @media #{$brk-lg} {
    padding: 0 10px;
    width: 940px;
  }
}

.row {
  margin: 0;
}

.form-control, .field, button {
  &:focus {
    border-color: $color-highlight;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-highlight-alpha;
    outline: none;
  }
}