// Base Styles =============================================================================

* {
    box-sizing: border-box;
  }
  
body {
  background-color: $color-background;
    color: $color-text-prim;
    margin: 0;
    text-align: center;
    font-family: 'Aller', Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  max-width: 960px;
}