// Base Styles =============================================================================

* {
    box-sizing: border-box;
  }
  
body {
    color: $color-text-prim;
    margin: 0;
    text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}