// Descriptive color variables ================================================================

$white  : #fff;
$black  : #000;

// Functional color variables =================================================================

$color-prim         : #242424;
$color-sec          : #2e2e2e;
$color-highlight    : #57c5a0;
$color-background   : #ebe7df;
$color-comp         : #f27e4b;

$color-text-prim    : #7d7d7d;

$color-span         : #adadad;

$color-icons        : #6e6e6e;

$color-btn-show     : #bcb5a7;

$color-blog         : #dfdbd4;

$color-prim-alpha   : rgba(36, 36, 36, 0.9);

// Font Families ==============================================================================

$font-prim  : 'Aller', Helvetica, Arial, sans-serif;
$font-sec   : 'Aller Light', Helvetica, Arial, sans-serif;