// Descriptive color variables ================================================================

$white  : #fff;
$black  : #000;

// Functional color variables =================================================================

$color-prim         : #242424;
$color-sec          : #2e2e2e;
$color-highlight    : #57c5a0;
$color-background   : #ebe7df;